label{
    color: #4682B4;
}

#title{
    color: white;
    background: #0c344c;
    font-family: 'Bree Serif', serif;
    padding: 0.75%;
    font-size: 120%;
    text-shadow: 5px 5px 5px #333;
}

#cadastrar_eventos{
    padding: 2%;
}

button{
    width: 50%;
    height: 40%;
    border: 1px solid;
    border-radius: 35px 35px;
    background: black;
    color: white;
    
}

#textarea{
    height: 120px;
}

#evento-mobile{
    display: none;
}

@media only screen and (min-width:200px) and (max-width:768px){
 
  #evento-mobile{
    display: block;
}  
    
    #evento-desktop{
        display: none;
    }
}